<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоды для {{ city }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='get_weather.css') }}">
</head>

<body>
<div class="container">
    <h1>Прогноз погоды для {{ city }}</h1>

    <div class="forecast-navigation">
        {% if day_index > 0 %}
            <a href="{{ url_for('weather.get_weather', city=city, days=days, day_index=day_index-1) }}"
               class="nav-button">⟵ Предыдущий день</a>
        {% endif %}
        <span>Прогноз на {{ date }}</span>
        {% if day_index < days - 1 %}
            <a href="{{ url_for('weather.get_weather', city=city, days=days, day_index=day_index+1) }}"
               class="nav-button">Следующий день ⟶</a>
        {% endif %}
    </div>

    <div class="forecast-block">
        <span class="city-name">{{ city }}</span>
        <div class="forecast-info">
            <div class="weather-detail">
                <span class="detail-label">Текущая температура:</span> {{ current_temperature }}°C
            </div>
            <div class="weather-detail">
                <span class="detail-label">Макс. температура:</span> {{ temperature_max }}°C
            </div>
            <div class="weather-detail">
                <span class="detail-label">Мин. температура:</span> {{ temperature_min }}°C
            </div>
            <div class="weather-detail">
                <span class="detail-label">Ощущается как:</span> {{ real_feel }}°C
            </div>
            <div class="weather-detail">
                <span class="detail-label">Скорость ветра:</span> {{ wind_speed }} км/ч
            </div>
            <div class="weather-detail">
                <span class="detail-label">Влажность днём (мин/сред/макс):</span> {{ day_humidity.Minimum }}%
                / {{ day_humidity.Average }}% / {{ day_humidity.Maximum }}%
            </div>
            <div class="weather-detail">
                <span class="detail-label">Влажность ночью (мин/сред/макс):</span> {{ night_humidity.Minimum }}%
                / {{ night_humidity.Average }}% / {{ night_humidity.Maximum }}%
            </div>
            <div class="weather-detail">
                <span class="detail-label">Облачность:</span> {{ cloud_cover }}%
            </div>
            <div class="weather-detail">
                <span class="detail-label">Вероятность осадков:</span> {{ precipitation_probability }}%
            </div>
            <div class="weather-detail">
                <span class="detail-label">Тип осадков:</span> {{ precipitation_type }}
            </div>
            <div class="weather-detail">
                <span class="detail-label">Общие условия:</span> <span class="weather-value">{{ icon_phrase }}</span>
            </div>
            <div class="weather-detail">
                <span class="detail-label">Восход:</span> {{ sunrise }}
            </div>
            <div class="weather-detail">
                <span class="detail-label">Закат:</span> {{ sunset }}
            </div>
        </div>
    </div>

    <iframe src="/dash/" class="dash-iframe"></iframe>

    <a href="/" class="button">Назад</a>
</div>
</body>
</html>
